{% extends 'base.html.twig' %}

{% block title %}Détail de l'article{% endblock %}

{% block body %}
    Ceci est le détail d'un article</br>
    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}
